@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("/fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Muller", sans-serif;
}

.body {
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1170px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list {
    display: flex;
    gap: 52px;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1C1C1C;
}

.nav-link-1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3172B9;
    border-bottom: 2px #3172B9 solid;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.btn {
    background-color: #3172B9;
    color: white;
    padding: 15px 35px;
    border-radius: 3px;
    line-height: 1;
}

.section-hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-color: #fff;
    min-width: 1540px;
    min-height: 550px;
    margin-bottom: 87px;
}

.hero-container {
    margin: 0 auto;
}

.section-hero-heading {
    color: #1C1C1C;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    max-width: 529px;
    padding-top: 113px
}

.section-hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    max-width: 471px;
    padding: 34px 0 50px 0;
    color: #787878;
}

.btn-2 {
    background-color: #3172B9;
    color: white;
    padding: 19px 58px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
}

.section-hero-btn-description {
    font-size: 11px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.section-hero-btn-text {
    display: inline;
    color: #787878;
    text-align: center;
    line-height: 155%;
}

.section-hero-ssl-icon {
    background-image: url(../img/ssl.svg);
    background-repeat: no-repeat;
    background-position: left;
    font-weight: 400;
    width: 13px;
    height: 17px;
    display: inline-block;
    padding-left: 10px;
    transform: translateY(-2px);
}

.section-do-heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #1C1C1C;
    text-align: center;
}

.section-do-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #787878;
    padding-top: 21px;
    padding-bottom: 54px;
}

.section-do-list {
    display: flex;
    gap: 30px;
    margin-bottom: 200px;
}

.section-do-item {
    border: solid #E4E4E4 1px;
}

.section-do-icon {
    padding: 61px 101px 27px 101px;
}

.section-do-item-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    justify-content: center;
}

.section-do-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
    padding: 15px 30px 62px 30px;
    text-align: center;
    width: 210px;
}

.section-clients {
    margin-bottom: 250px;
}

.section-clients-heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 42px;
}

.section-clients-list {
    display: flex;
    gap: 30px;
}

.section-clients-item {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 51px 53px 32px 36px;
}

.section-clients-user {
    padding-top: 62px;
}

.section-clients-avatar {
    border-radius: 50%;
    border: solid #3172B9 2px;
}

.section-clients-testimonial {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.section-clients-username {
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.section-clients-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.section-contacts-heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 100px;
}

.section-contacts-list {
    display: flex;
    gap: 186px;
}

.section-contacts-list-heading {
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    display: block;
    margin-bottom: 30px;
}

.section-contacts-icon {
    display: block;
    margin-bottom: 22px;
}

.section-contacts-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    max-width: 214px;
}

.section-contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    display: block;
}

.section-contacts-item-2 {
    margin-right: 93px;
}

.section-contacts {
    margin-bottom: 205px;
}

.section-form {
    margin-bottom: 200px;
}

.form-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #1c1c1c;
}

.form-description {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #787878;
}

.form {
    display: flex;
    justify-content: space-between;
}

.input {
    gap: 30px;
    padding: 0 30px;
    outline: none;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #dadada;
}

.btn-submit {
    background-color: #3172B9;
    color: #fff;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 35px;
    border-radius: 50px;
    border: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    gap: 25px;
}

.footer-copyright {
    padding-top: 15px;
    display: inline;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.footer-right {
    padding-top: 12px;
    display: flex;
    gap: 56px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.footer-social-list {
    display: flex;
    gap: 32px;
}

.footer-nav {
    display: inline;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #787878;
}

.footer {
    margin-bottom: 30px;
}